name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
      - uses: jorelali/setup-elm@v6
        with:
          elm-version: '0.19.1'
      - name: set up elm-codegen
        run: make examples-elm-codegen-install
      - name: run tests
        run: make test-example
